*{
    padding: 0;
    margin: 0;
}

.navbar-brand{
    color: brown;
    font-size: 30px;
    font-weight: bold;
}
.nav-link{
    font-size: 15px;
}
.nav-link{
    font-weight: bolder;
}
.nav-link:hover{
    background-color: antiquewhite;

}